services:
  app:
    build: .
    ports:
      - "4000:4000"
    env_file:
      - .env
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:3-management
    container_name: backupAuto-rabbitmq
    ports:
      - "5672:5672"      
      - "15672:15672"    
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    restart: unless-stopped
